body {
    font-family: Arial, sans-serif;
    background-color: #05055a;
    margin: 0;
    padding: 0;
}
#main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
#title {
    font-size: 2.5em;
    color: #f6f2f2;
}
#img-div {
    margin: 20px 0;
    display: inline-block;
    text-align: center;
}
#image {
    display: block; 
    max-width: 100%; 
    height: auto; 
    margin-left: auto;  
    margin-right: auto; 
}
#img-caption {
    font-style: italic;
    color: rgb(243, 236, 236);
    margin-top: 10px;
}
#tribute-info {
    font-size: 1.1em;
    color: rgb(253, 253, 253);
    margin: 20px 0;
}

#tribute-link {
    display: inline-block;
    font-size: 1.2em;
    color: #9ec3dd;
    text-decoration: none;
    margin-top: 20px;
}
#tribute-link:hover {
    text-decoration: underline;
}